/* 
    All of the styles in the app are written in SaaS. They are put into bundle.min.js using webpack.
    To add a new scss file, you must add it to the entry line in the webpack.config.js file.
*/

@import "reset"; //Reset all default css by webpage
@import "variables"; //all variables
@import "defaults"; // default scss
.headerSection {
    min-height: $sectionHeight-small;
    background-color: $headerSectionColor;
    background-size: cover;
    color: $headerFontColor;
    h1 {
        font-size: $headerLarge;
    }
}

#main-jumbotron{
    display: block;
    height: 500px;
    width: device-width;
    position: relative;
    z-index: 1;
    background-attachment: scroll;
    background-color: #03eca2;
    background-size: fill;
      /* -webkit-animation-name: example; Safari 4.0 - 8.0
      -webkit-animation-duration: 10s; Safari 4.0 - 8.0
      animation-name: example;
      animation-duration: 10s;
      animation-iteration-count: infinite*/

      h1{
          font-size: $headerLarge;
          text-align: center;
      }
  }