/* 
    All of the styles in the app are written in SaaS. They are put into bundle.min.js using webpack.
    To add a new scss file, you must add it to the entry line in the webpack.config.js file.
*/

@import "reset"; //Reset all default css by webpage
@import "variables"; //all variables
@import "defaults"; // default scss
.headerSection {
    min-height: $sectionHeight-small;
    background-color: $headerSectionColor;
    background-size: cover;
    color: $headerFontColor;
    h1 {
        font-size: $headerLarge;
    }
}