/*
    All of the styles in the app are written in SaaS. They are put into bundle.min.js using webpack.
    To add a new scss file, you must add it to the entry line in the webpack.config.js file.
*/

@import "reset"; //Reset all default css by webpage
@import "variables"; //all variables
@import "defaults"; // default scss
.homeSection {
    min-height: $sectionHeight-small;
    background-color: $headerSectionColor;
    background-size: cover;
    color: $headerFontColor;
    height: 100%;
    width: 100vw;
    z-index: 1;
    background-attachment: scroll;
    background-color: #03eca2;
    background-size: fill;
    h1 {
        position: relative;
        font-size: $headerLarge;
        text-align: center;
        vertical-align: middle;
        top: 50%;
    }
    p {
        font-size: 2vw;
        text-align: center;
    }
    #title {
        margin: auto;
        padding-top: 100px;
    }
    #search-bar {
        width: 50vw;
        padding-top: 100px;
        margin: auto;
    }
}

.featuredSection {
    width: 100vw;
    .featuredHeader {
        height: 20vh;
        text-align: center;
        background: #454545;
        color: white;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
        padding: 40px;
        h1 {
            font-size: 300%;
        }
        p {
            font-size: 125%;
        }
    }
    .featuredRow {
        display: flex;
        padding: 0px !important;
        flex-wrap: wrap;
    }
}

.resultsSection{
    text-align: center;
}

.restaurantCard {
    color: white;
    height: 40vh;
    width: calc(100% * (1/4) - 10px - 1px);
    flex-grow: 1;
    cursor: pointer;
    .restaurantCard-info {
        padding: 20px;
        h1 {
            font-size: 200%;
        }
        h2 {
            font-size: 125%;
        }
    }
}

.restaurantListItem{
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding: 20px; 
    width: 50vw;
    height: 150px;

}


